:root {
	--background: #eff1f5;
	--background-dark: #e6e9ef;
	--background-dark2: #dce0e8;
	--background-dark3: #9ca0b0;
	--accent: #7287fd;
	--accent-dark: #1e66f5;
	--foreground: #4c4f69;
	--foreground-light: #6c6f85;
	--foreground-light2: #9ca0b0;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-align: justify;
	background: var(--background);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--foreground);
	font-size: 16px;
	line-height: 1.7;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	width: 720px;
	max-width: calc(100% - 4rem);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--accent);
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

.prose > h2 {
	/* border-bottom: 2px solid var(--accent); */
}

.prose > h3 {
	border-bottom: 1px solid var(--accent);
}

.prose > h4 {
	border-bottom: 1px dashed var(--accent);
}

.prose > h5 {
	border-bottom: 1px dotted var(--accent);
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.15em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent-dark);
}

p {
	margin-bottom: 1em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 1em 0;
}

th,
td {
	border: 1px solid;
	padding: 0 0.5em;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: var(--background-dark);
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 3px solid var(--accent);
	padding: 0 0 0 10px;
	margin: 0px;
	font-size: 0.9em;
}

hr {
	border: none;
	border-top: 1px solid var(--accent);
}

figure {
	text-align: center;
}

.katex-display * {
	background-color: transparent;
}

.footnotes {
	border-top: 1px dashed var(--foreground-light);
}

@media (max-width: 720px) {
	body {
		text-align: left;
	}

	main {
		padding: 1em;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1e1e2e;
		--background-dark: #181825;
		--background-dark2: #11111b;
		--background-dark3: #313244;
		--accent: #b4befe;
		--accent-dark: #89b4fa;
		--foreground: #cdd6f4;
		--foreground-light: #a6adc8;
		--foreground-light2: #6c7086;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
