---
import Layout from '../layouts/Base.astro'
import CardSmall from '../components/CardSmall.astro'
import { getCollection } from 'astro:content'

const { posts, years } = await (async () => {
	const posts = (await getCollection('posts')).sort(
		(a, b) =>
			((b.data.pubDate && b.data.pubDate.valueOf()) || new Date(0).valueOf()) -
			((a.data.pubDate && a.data.pubDate.valueOf()) || new Date(0).valueOf()),
	)
	const years = new Set(
		posts
			.map((post) => post.data.pubDate && post.data.pubDate.getFullYear())
			.filter((year) => year),
	)
	return { posts, years }
})()
---

<Layout title="Archives" description="Archives of all posts">
	<h1>Archives</h1>
	<ul>
		{
			[...years].map((year) => (
				<li class="year">
					<h4>{year}</h4>
					<hr />
					<ul>
						{posts
							.filter(
								(post) =>
									post.data.pubDate && post.data.pubDate.getFullYear() === year,
							)
							.map((post) => (
								<li>
									<CardSmall
										title={post.data.title}
										slug={post.collection.slice(0, -1) + '/' + post.slug}
										date={post.data.pubDate}
									/>
								</li>
							))}
					</ul>
				</li>
			))
		}
	</ul>
</Layout>

<style>
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 0.3rem;
		list-style-type: none;
		margin: 1rem 0.7rem;
		padding: 0;
	}
	.year {
		width: 100%;
	}
</style>
