---
import Layout from '../layouts/Base.astro'
import CatalogueEntry from '../components/CatalogueEntry.astro'
---

<Layout title="Catalogue" description="Catalogue of all posts and novels">
	<h1>Catalogue</h1>
	<h2>Blog posts</h2>
	<hr />

	<ul class="blog">
		<CatalogueEntry
			slug="posts/1"
			title="Posts"
			description="Read recent posts"
		/>
		<CatalogueEntry slug="tags" title="Tags" description="Find posts by tag" />
		<CatalogueEntry slug="notes" title="Notes" description="Find my notes" />
		<CatalogueEntry
			slug="archives"
			title="Archives"
			description="Find posts by date"
		/>
	</ul>

	<!-- <h2>Novels</h2> -->
	<!-- <hr /> -->

	<!-- <ul class="novel"> -->
	<!-- 	<CatalogueEntry slug="" title="Coming soon!" description="" /> -->
	<!-- </ul> -->
</Layout>

<style>
	ul {
		list-style-type: none;
		margin: 1em 0.7em 3em 0.7em;
		padding: 0;
	}
	.blog {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		gap: 2rem;
	}
	h2 {
		text-align: center;
		margin: 0.3em 0;
	}
</style>
