---
import Layout from '../layouts/Base.astro'
import { getCollection } from 'astro:content'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Card from '../components/Card.astro'

let latestPosts = (await getCollection('posts'))
	.sort((a, b) => {
		const bDate =
			(b.data.updatedDate && b.data.updatedDate.valueOf()) ||
			(b.data.pubDate && b.data.pubDate.valueOf()) ||
			new Date(0).valueOf()
		const aDate =
			(a.data.updatedDate && a.data.updatedDate.valueOf()) ||
			(a.data.pubDate && a.data.pubDate.valueOf()) ||
			new Date(0).valueOf()
		return bDate - aDate
	})
	.slice(0, 5)

let latestNotes = (await getCollection('notes'))
	.sort((a, b) => {
		const bDate =
			(b.data.updatedDate && b.data.updatedDate.valueOf()) ||
			(b.data.pubDate && b.data.pubDate.valueOf()) ||
			new Date(0).valueOf()
		const aDate =
			(a.data.updatedDate && a.data.updatedDate.valueOf()) ||
			(a.data.pubDate && a.data.pubDate.valueOf()) ||
			new Date(0).valueOf()
		return bDate - aDate
	})
	.slice(0, 3)
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="heading">
		<h1>iff's site</h1>
		<a href="/rss.xml" target="_blank">
			<img
				src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Rss_font_awesome.svg"
				alt="Suscribe to RSS"
				style="height:30px; filter: invert(0.5) sepia(1) saturate(5) hue-rotate(-30deg)"
			/>
		</a>
	</div>

	<p>
		You've reached my personal website! You can find some of my thoughts and
		ideas here.
	</p>

	<h2 class="latest">Latest activities</h2>
	<section>
		<ul>
			{
				latestPosts.map((post: any) => (
					<Card
						slug={post.collection.slice(0, -1) + '/' + post.slug}
						title={post.data.title}
						description={post.data.description}
						date={post.data.pubDate}
						updatedDate={post.data.updatedDate}
						tags={post.data.tags}
					/>
				))
			}
		</ul>
	</section>
	<h2 class="latest"> Latest notes</h2>
	<section>
		<ul>
			{
				latestNotes.map((note: any) => (
					<Card
						slug={note.collection.slice(0, -1) + '/' + note.slug}
						title={note.data.title}
						description={note.data.description}
						date={note.data.pubDate}
						updatedDate={note.data.updatedDate}
						tags={[note.id.split('/')[0]]}
					/>
				))
			}
		</ul>
	</section>
	</h2>
</Layout>

<style>
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		list-style-type: none;
		margin: 0 0.7em;
		padding: 0;
	}
	section {
		margin-bottom: 3em;
	}
	.heading {
		display: flex;
		align-items: center;
		gap: 0.5em;
	}
	.latest {
		margin-bottom: 1em;
	}
	img {
		background: none;
	}
</style>
