---
import Layout from '../layouts/Base.astro'
import CardSmall from '../components/CardSmall.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('notes')
let { subjects } = posts.reduce(
	(acc, post) => {
		console.log(post.slug)
		let subject = post.id.split('/')[0]
		if (!acc.subjects.includes(subject)) {
			acc.subjects.push(subject)
		}
		return acc
	},
	{ subjects: [] },
)
subjects = subjects.sort()
---

<Layout title="Notes" description="All notes in the site">
	<h1>Notes by subjects</h1>
	<ul>
		{
			subjects.map((subject) => (
				<CardSmall title={subject} slug={`/subject/${subject}`} />
			))
		}
	</ul>
</Layout>

<style>
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: center;
		list-style-type: none;
		margin: 1rem 0;
		padding: 0;
	}
</style>
