---
import Layout from '../layouts/Base.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('posts')
let { tags, count } = posts.reduce(
	(acc, post) => {
		post.data.tags.forEach((tag) => {
			if (!acc.tags.includes(tag)) {
				acc.tags.push(tag)
				acc.count[tag] = 0
			}
			acc.count[tag]++
		})
		return acc
	},
	{ tags: [], count: {} },
)
tags = tags.sort().sort((a, b) => count[b] - count[a])
---

<Layout title="Tags" description="All tags in the blog">
	<h1>Tags</h1>
	<ul>
		{
			tags.map((tag) => (
				<li>
					<a href={`/tag/${tag}`}>
						{tag} <sup>{count[tag]}</sup>
					</a>
				</li>
			))
		}
	</ul>
</Layout>

<style>
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: center;
		list-style-type: none;
		margin: 1rem 0;
		padding: 0;
	}
	li {
		border-radius: 0.3rem;
		background-color: var(--background-dark);
		box-shadow: 2px 2px 3px var(--background-dark3);
	}
	li a {
		padding: 0.3rem 0.5rem;
		color: var(--foreground-light);
	}
	sup {
		color: var(--accent);
	}
	li,
	li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	li:hover {
		transform: scale(1.1);
	}
	li:hover * {
		color: var(--accent-dark);
	}
</style>
