---
import Layout from '../../layouts/Base.astro'
import CardSmall from '../../components/CardSmall.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
	const posts = await getCollection('notes')
	const uniqueSubjects = [
		...new Set(posts.map((post) => post.id.split('/')[0])),
	]

	return uniqueSubjects.map((subject) => {
		const filteredPosts = posts.filter(
			(post) => post.id.split('/')[0] == subject,
		)
		return {
			params: { subject },
			props: {
				posts: filteredPosts.sort((a, b) => a.data.pubDate - b.data.pubDate),
			},
		}
	})
}

const { subject } = Astro.params
const { posts } = Astro.props
---

<Layout title={subject || 'undefined'} description={`Notes for ${subject}`}>
	<h1>{subject}</h1>
	<ul>
		{
			posts.map((post: any) => (
				<CardSmall
					title={post.data.title}
					slug={'/note/' + post.slug}
					date={post.data.pubDate}
				/>
			))
		}
	</ul>
</Layout>

<style>
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		list-style-type: none;
		margin: 1rem 0.7rem;
		padding: 0;
	}
</style>
