---
import FormattedDate from './FormattedDate.astro'

interface Props {
	slug: string
	title: string
	description: string
	date: Date
	updatedDate?: Date
	tags?: string[]
}

const { slug, title, description, date, updatedDate, tags } = Astro.props
---

<li>
	<a href={slug}>
		<h3 class="title">{title}</h3>
		<p class="description">{description}</p>
		{
			tags && (
				<p class="tags">
					{tags.map((tag) => (
						<span class="tag">{tag}</span>
					))}
				</p>
			)
		}
		<p class="date">
			<FormattedDate date={date} />
		</p>
		{
			updatedDate && updatedDate > date && (
				<p class="updatedDate">
					Updated on <FormattedDate date={updatedDate} />
				</p>
			)
		}
	</a>
</li>

<style>
	li {
		width: 100%;
		padding: 0;
		background-color: var(--background-dark);
		border-radius: 0.3rem;
		box-shadow: 3px 3px 10px var(--background-dark3);
	}
	li,
	li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	a {
		padding: 1rem 1.5rem;
		display: block;
	}
	.title {
		line-height: 1;
	}
	.description {
		color: var(--foreground);
	}
	.date {
		margin: 0;
		color: var(--foreground-light);
	}
	.updatedDate {
		margin: 0;
		color: var(--foreground-light);
		font-style: italic;
	}
	li:hover a * {
		color: rgb(var(--accent-dark));
	}
	li:hover {
		transform: scale(1.03);
	}
	.tags {
		font-size: 0.85rem;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: left;
		display: flex;
	}
	.tag {
		padding: 0.2rem 0.5rem;
		margin: 0.2rem 0;
		border-radius: 0.3rem;
		background-color: var(--background-dark2);
		color: var(--foreground-light);
	}
</style>
