---
import FormattedDate from './FormattedDate.astro'

interface Props {
	slug: string
	title: string
	date?: Date
}

const { slug, title, date } = Astro.props
---

<li>
	<a href={`${slug}/`} class="card">
		<p class="title">{title}</p>
		<p class="date">
			{date && <FormattedDate date={date} />}
		</p>
	</a>
</li>

<style>
	li {
		width: 100%;
		background-color: var(--background-dark);
		border-radius: 0.3rem;
		box-shadow: 3px 3px 5px var(--background-dark3);
	}
	li,
	li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	a {
		padding: 0 1rem;
		display: flex;
		flex-direction: row;
		flex-flow: wrap;
		justify-content: space-between;
	}
	.title {
		line-height: 0;
	}
	.date {
		margin: 0;
		color: var(--foreground-light);
	}
	a:hover * {
		color: rgb(var(--accent));
	}
	li:hover {
		transform: scale(1.03);
	}
</style>
