---
const today = new Date()
---

<footer>
	&copy; {today.getFullYear()} iff. All rights reserved.
</footer>
<style>
	footer {
		padding: 3em 1em 5em 1em;
		background: var(--background-dark2);
		text-align: center;
		color: var(--foreground-light);
		flex-grow: 1;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
	}
</style>
