---
import Layout from '../../layouts/Base.astro'
import Card from '../../components/Card.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
	const posts = await getCollection('posts')
	const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())]

	return uniqueTags.map((tag) => {
		const filteredPosts = posts.filter((post) => post.data.tags.includes(tag))
		return {
			params: { tag },
			props: {
				posts: filteredPosts.sort((a, b) => b.data.pubDate - a.data.pubDate),
			},
		}
	})
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<Layout title={tag || 'undefined'} description={`Posts tagged with ${tag}`}>
	<h1>{tag}</h1>
	<ul>
		{
			posts.map((post: any) => (
				<Card
					title={post.data.title}
					slug={'/post/' + post.slug}
					title={post.data.title}
					description={post.data.description}
					date={post.data.pubDate}
					updatedDate={post.data.updatedDate}
					tags={post.data.tags}
				/>
			))
		}
	</ul>
</Layout>

<style>
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		list-style-type: none;
		margin: 1rem 0.7rem;
		padding: 0;
	}
</style>
