---
import { type CollectionEntry, getCollection } from 'astro:content'
import Post from '../../layouts/Post.astro'

export async function getStaticPaths() {
	const posts = await getCollection('notes')
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}))
}
type Props = CollectionEntry<'notes'>

const post = Astro.props

const { Content } = await post.render()
---

<Post {...post.data}>
	<Content />
</Post>
