---
import type { CollectionEntry } from 'astro:content'
import Base from '../layouts/Base.astro'
import FormattedDate from '../components/FormattedDate.astro'

type PostProps = CollectionEntry<'posts'>['data']

const { title, description, pubDate, updatedDate, tags, lang, comment } = Astro
	.props.frontmatter
	? Astro.props.frontmatter
	: (Astro.props as PostProps)
---

<Base title={title} description={description} language={lang} comment={comment}>
	<article>
		<div class="prose">
			<div class="heading">
				<div class="title">
					<h1>{title}</h1>
				</div>
				<div class="metadata">
					{
						pubDate && (
							<div class="date">
								<FormattedDate date={pubDate} />
							</div>
						)
					}
					{
						updatedDate && (
							<div class="last-updated-on">
								Updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
			</div>
			<hr />
			<slot />
			{
				tags && (
					<div class="tags">
						<ul>
							{tags.map((tag: string) => (
								<li>
									<a href={`/tag/${tag}`} class="tag">
										{tag}
									</a>
								</li>
							))}
						</ul>
					</div>
				)
			}
		</div>
	</article>
</Base>

<style>
	.heading {
		display: flex;
		flex-direction: row;
		flex-flow: wrap;
		align-items: center;
		justify-content: space-between;
		column-gap: 0.5rem;
	}
	.metadata {
		font-size: 0.9em;
		text-align: right;
		flex-grow: 1;
		white-space: nowrap;
	}
	.last-updated-on {
		font-style: italic;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: left;
		list-style-type: none;
		margin: 1rem 0;
		padding: 0;
	}
	li {
		border-radius: 0.3rem;
		background-color: var(--background-dark2);
	}
	li a {
		padding: 0.3rem 0.5rem;
	}
	li,
	li * {
		text-decoration: none;
		transition: 0.2s ease;
		color: var(--foreground-light);
	}
	li:hover {
		transform: scale(1.1);
	}
	li:hover * {
		color: var(--accent-dark);
	hr {
		border-bottom: 3px double var(--accent);
	}
	@media (max-width: 720px) {
		.metadata {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			column-gap: 0.5rem;
		}
	}
</style>
